<!DOCTYPE HTML>
<html>
	<head>
		<title>Cirque Fitness</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link rel="stylesheet" href="assets/css/extraIndex.css">
		<link rel="icon" href="https://res.cloudinary.com/dniwvymzt/image/upload/v1697237650/Cirque%20Fitness/Logo_dmj1ry.png">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="https://res.cloudinary.com/dniwvymzt/image/upload/v1697237650/Cirque%20Fitness/Logo_dmj1ry.png" alt="Cirque Fitness Logo" /></span>
						<h1>Cirque Fitness</h1>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Introduction</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>About Cirque Fitness</h2>
										</header>
										<p>This is an app created for both circus professionals and hobbyists alike to help keep track of and eventually reach their fitness goals. While there's an ever-updating library of exercises in our database available, along with resources and how-to tutorials for each, you're also able to input your own and track your progress day-to-day!</p>
										<ul class="actions">
											<li><a href="#signIn" class="button">Sign In</a></li>
											<li><a href="#register" class="button">Register</a></li>
											<li>
												<form action="/login" method="post">
													<input name="email" type="hidden" value="guest@guest.com">
													<input name="userName" type="hidden" value="guest">
													<input name="password" type="hidden" value="password12345">
													<input href="#signIn" value='Demo Sign In' type="submit" class="button"/>
												</form>

											</li>
											
										</ul>
									</div>
									<span class="image"><img src="/images/aerialistAtWork.jpg" alt="" /></span>
								</div>
							</section>
						
						<!-- Hidden Sign-in -->
						<section id='signIn'>
							<form action="/login" method="post">
								<fieldset>
									<Legend>Sign In:</Legend>
									<input type="text" name="email">
									<label>Email</label>
									<input type="text" name="userName">
									<label>Username</label>
									<input type="password" name="password">
									<label>Password</label>
									<input type="submit">
									<% if (locals.messages.errors) { %>
										<% messages.errors.forEach( el => { %>
											<div class="alert alert-danger"><%= el.msg %></div>
										<% }) %>    
									<% } %>
								</fieldset>
							</form>
						</section>
						

						<!-- Hidden Register -->
						<section id='register'>
							<form action="/signup" method="POST">
									<fieldset>
										<Legend>Register:</Legend>
										<input type="text" name="email">
										<label>Email</label>
										<input type="text" name="userName">
										<label>Username</label>
										<input type="password" name="password">
										<label>Password</label>
										<input type="password" name="confirmPassword">
										<label>Type your password again.</label>
										<input type="submit">
										<% if (locals.messages.errors) { %>
											<% messages.errors.forEach( el => { %>
												<div class="alert alert-danger"><%= el.msg %></div>
											<% }) %>    
										<% } %>
									</fieldset>
							</form>
						</section>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Ricky Barfield. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>