/* GENERAL */
.hidden {
    display: none;
}

/* '/' path INDEX */

legend {
    font-size: 1.3em;
}

/* displays none as a default - javascript will make these toggle to display: flex on appropriate button click. */
#signIn {
    display: none;
    justify-content: space-around;
}

#register {
    display: none;
    justify-content: space-around;
}


legend, label[attribute='password'], label[attribute='passwordVerify'] {
    margin-bottom: 1em;
}

fieldset a {
    margin-left: 1.5em;
    margin-bottom: 2em;
}

