/* GENERAL */

/* '/' path INDEX */

legend {
    font-size: 1.3em;
}

/* displays none as a default - javascript will make these toggle to display: flex on appropriate button click. */
#signIn {
    display: none;
    justify-content: space-around;
}

#register {
    display: none;
    justify-content: space-around;
}


legend, label[attribute='password'], label[attribute='passwordVerify'] {
    margin-bottom: 1em;
}

fieldset a {
    margin-left: 1.5em;
    margin-bottom: 2em;
}

/* '/fitnessApp' */

.fitnessAppImg {
    max-width: 50%;
    margin: 1em auto;
}

.exerciseTitle{
    text-align: center;
}

.appActions{
    display: flex;
    list-style: none;
    justify-content: center;
}

.exerciseList ul {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.exerciseList span {
    margin-right: 0.7em;
    font-size: 1.3em;
}

.exerciseList i {
    font-size: 1em;
}

.exerciseList i:hover{
    color: rgb(148, 95, 140);
}

.exerciseList li {
    list-style: none;
}

.exerciseControls {
    border-bottom: 1px dashed black;
}

.fa-note-sticky {
    margin-right: 1em;
}

.fa-trash {
    padding-top: 0.6em;
}

.fa-plus {
    margin-right: 1em;
}

#logOut .button {
    color: rgba(255, 139, 140, 0.5)
}

.copyright {
    margin: 0 auto;
}