/* General */
.hidden {
    display: none !important;
}

html {
    text-align: center;
    background-color: #935d8c;
		background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
		background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
		background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
		background-image: url("images/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 1%;
}

.exerciseList, .exerciseControls, .setsAndReps, .extraActions, .appActions, .setsAndReps, .setsAndReps form, .extraActionPanel, #exerciseBank, #bankList, .bankInfo {
    display: flex;
}

button, i, #date {
    cursor: pointer;
}

/* Header / Photo / Footer*/
header, footer, footer a {
    color: white;
}

footer a {
    text-decoration: underline;
}

.fitnessAppImg {
    max-width: 50%;
    margin: 2em auto 1em auto;
    border-radius: 2%
}



/***** User Data *****/
/* general */
.exerciseList {
    gap: 2em;
}

/* exercise name*/
.exerciseName {
    border-bottom: 1px dotted black;
    cursor: pointer;
    overflow: scroll;
}

/* date */
.date {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid black;
    justify-content: center;
}

/* Exercise Listings */
.exerciseList {
    border-top: 1px solid grey;
    flex-direction: column;
    padding: 0 0 1em 0;
}

.exerciseControls {
    border-bottom: 1px solid grey;
    padding: 1em 0;
}
.exerciseControls, .extraActions, .extraActionPanel {
    background-color: rgb(247, 247, 247);
}

.exerciseControls > section {
    flex-grow: 1;
    align-content: center;
}

.exerciseTitle, .exerciseButtons {
    align-self: center;
    justify-self: center;
    height: 100%;
}
.setsAndReps {
    justify-content: space-around;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.setsAndReps form {
    flex-direction: column;
}

.extraActions {
    flex-direction: column;
}



/* Timer / Notes */

.extraActionPanel {
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    margin-top: -2em;
    border-bottom: 1px solid grey;
}

.notes {
    flex: 3;
}

.notes textarea {
    width: 50%;
    margin: 1em auto 1em auto;
    display: flex;
}

.timer {
    margin: 1em 0 2em 0;
    font-size: 1.5em;
}

.fa-play {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.fa-pause {
    margin-right: 0.5em;
}

.fa-play:hover, .fa-pause:hover, .fa-repeat:hover {
    color: rgb(200, 113, 136);
}

/* Ending App Actions */
/* .userExercise {
    border-top: 1px solid black;
} */

.userExercise legend {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

/* App actions and Bank Buttons */
.appActions {
    justify-content: space-around;
    padding: 1em;
}

.appActions li a, .bankAddButton {
    border-radius: 8px;
    border: 0;
    display: inline-block;
    font-weight: 300;
    height: 2.75em;
    line-height: 2.75em;
    min-width: 9.25em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid black;
    color: black;
    background-color: white;
}

.appActions li a:active, .appActions li a:hover, .bankAddButton:hover {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: rgb(200, 113, 136);
}

.bankAddButton {
    max-width: 30%;
    margin: 2em auto 0 auto;
}

/* Exercise Bank */
#exerciseBank > * {
    width: 100%;
    padding: 4em;
    max-height: 50em;
    overflow: scroll;
    background-color: rgb(247, 247, 247);
}

#bankList {
    flex-direction: column;
}

#bankList a {
    text-decoration: underline;
    text-decoration-thickness: 1px;;
}

#bankList a:hover {
    color: rgb(200, 113, 136);
    text-decoration-color: rgb(200, 113, 136);
    cursor: pointer;
}

.bankInfo {
    flex-direction: column;
}

.bankImg {
    max-width: 70%;
    margin: 0 auto 1em auto;
}

@media screen and (max-width: 860px) {
    /* .exerciseList {
        background-color: blue;
    } */

    .exerciseControls, .setsAndReps {
        flex-direction: column;
    }

    .exerciseControls {
        width: 100%;
        margin: 0 auto;
    }
        .exerciseTitle {
            margin-bottom: 1em;
        }

        .setsAndReps{
            width: 40%;
            margin: 0 auto;
            border: none;
            gap: 1em;
        }

            .sets, .reps, .weight {
                margin-bottom: 0.5em;
            }

            .fa-trash {
                margin-top: 0.5em;
            }
    
    .notes textarea {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .userExercise form {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .appActions {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}