/* '/fitnessApp' */
.hidden {
    display: none;
}

.fitnessAppImg {
    max-width: 50%;
    margin: 1em auto;
}

.date {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid black;
    justify-content: center;
    display: flex;
}

.date input {
    margin: 0 auto;
}

.exerciseTitle{
    text-align: center;
}

.appActions{
    display: flex;
    list-style: none;
    justify-content: center;
}

.exerciseList ul {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.exerciseList span {
    margin-right: 0.7em;
    font-size: 1.3em;
}

.exerciseList i {
    font-size: 1em;
}

.exerciseList i:hover{
    color: rgb(148, 95, 140);
}

.exerciseList li {
    list-style: none;
}

.exerciseControls {
    border-bottom: 1px dashed black;
}


.fa-note-sticky, .fa-stopwatch, .fa-play {
    margin-right: 1em;
}

.fa-trash {
    padding-top: 0.6em;
}

.fa-plus {
    margin-right: 1em;
}

.extraActions {
    flex-direction: column;
}

.noteSubmit {
    margin-top: 1em;
}



.copyright {
    margin: 0 auto;
}