/* General */
.hidden {
    display: none;
}

html {
    text-align: center;
    background-color: #935d8c;
		background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
		background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
		background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
		background-image: url("images/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 1%;
}

.exerciseList, .exerciseControls, form {
    display: flex;
}

/* Header / Photo */
header {
    color: white;
}

.fitnessAppImg {
    max-width: 50%;
    margin: 2em auto 1em auto;
    border-radius: 2%
}



/* User Data */
.date {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid black;
    justify-content: center;
}

.exerciseList {
    flex-direction: column;
    gap: 1em;
    padding: 1em 0 1em 0;
}

.exerciseControls {
    background-color: rgb(247, 247, 247);
    justify-content: space-between;
    align-content: center;
}

form {
    flex-direction: column;
}